<nav class="navbar">
    <div class="nav-container">
      <a href="/" class="nav-logo">Read It</a>
      <ul class="nav-links">
        <li><a href="/" class="<%= path ==='/' ? 'active' :''%>">Full list</a></li>
        <li><a href="/add-book" class="<%= path ==='/add-book' ? 'active' :''%>">Add a Book</a></li>
      </ul>
    </div>
  </nav>  